* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


/* H E A D E R */

header {
    margin: 1em 4em;    
}

.header-title {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    color: #333;
}


/* M A I N */

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 20em;
    font-family: 'Space Mono', monospace;
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 7rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.right-side_title {
    font-size: 4rem;
    max-width: 600px;
    color: #333;
}

.right-side_subtitle {
    font-size: 1.5rem;
    line-height: 35.54px;
    max-width: 390px;
    color: #4f4f4f;
}

.scarecrow-img {
    width: 33.7em;
    height: 28em;
}

.back-btn {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 2em;
}

/* F O O T E R */

footer {
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #BDBDBD;
}

footer a {
    color: #BDBDBD;
    transition: 0.4s;
}

footer a:hover {
    color: #8a8686;
}


/* MEDIA QUERIES */

@media( max-width: 1600px) {
    main {
        grid-template-rows: auto 7em;
    }
}

@media (max-width: 385px) {
    .header-title{
        /* color: red; */
    
    }
    .scarecrow-img {
        width: 18em;
        height: 100%;
        margin: 0 auto;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding: 0 2em;
        margin: 2em auto;
    }
    .right-side_title {
        font-size: 2.5rem;
    }
    .right-side_subtitle {
        font-size: 1.125rem;
    }
    .back-btn, footer {
        font-size: 0.875rem;
    }
    .right-side_subtitle, .back-btn {
        margin: 1em 0; 
    }
}